<div class="top-bar">
    <app-search></app-search>
    <button class="btn btn-filter" (click)="openModal()">Filter</button>
  </div>
  
  <app-tags></app-tags>
  <app-not-found
      [visible] ="!foods || !foods.length"
      resetLinkText = "Reset Search">
  </app-not-found>
  
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal">
      <div class="modal-header">
        <h3>Filter Foods</h3>
        <span class="close" (click)="closeModal()">×</span>
      </div>
      <div class="modal-body">
        <div>
          <label>Tags:</label>
          <select multiple [(ngModel)]="selectedTags">
            <option *ngFor="let tag of ['Italian','Fast Food','American','Japanese','Seafood']" [value]="tag">{{ tag }}</option>
          </select>
        </div>
        <div class="mt-2">
          <label>Origins:</label>
          <select multiple [(ngModel)]="selectedOrigins">
            <option *ngFor="let origin of ['Italy','USA','Japan']" [value]="origin">{{ origin }}</option>
          </select>
        </div>
        <div class="mt-2">
          <label>Price Range:</label>
          <div class="price-range">
            <input type="number" [(ngModel)]="priceRange.min" placeholder="Min">
            <input type="number" [(ngModel)]="priceRange.max" placeholder="Max">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-secondary" (click)="clearFilters()" >Clear Filters</button>
        <button class="btn-primary" (click)="applyFilter()">Apply</button>
      </div>
    </div>
  </div>
  <div class="cart-wrapper">
    <div class="cart-box"
         cdkDropList
         id="cartDropList"
         [cdkDropListData]="cart"
         [cdkDropListConnectedTo]="['foodList']"
         (cdkDropListDropped)="onDrop($event)"
         (cdkDropListEntered)="onDragEnter()"
         (cdkDropListExited)="onDragLeave()"
         [class.drag-over]="isDragOver">
      <h4>Drag and drop item here to add in cart</h4>
      <div *ngFor="let item of cart">
        {{ item.name }} - {{ item.price | currency }}
      </div>
    </div>
  </div>
  
  <ul cdkDropList
      id="foodList"
      [cdkDropListData]="filteredFoods"
      [cdkDropListConnectedTo]="['cartDropList']"
      class="food-list">
    <li *ngFor="let food of filteredFoods"
        cdkDrag
        [cdkDragData]="food"
        class="food-item"
        (cdkDragStarted)="dragging = true"
        (cdkDragEnded)="dragging = false">
  
      <a (click)="onFoodClick($event, food)">
        <img [src]="food.imageUrl" [alt]="food.name"/>
        <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <!-- <span class="favorite {{food.favorite?'':'not'}}">
                    ❤
                </span> -->

          <div class="product-item-footer">
            <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}
                        </span>
            </div>
            <div class="cook-time">
                        <span>🕒</span>
                        {{food.cookTime}}
            </div>
          </div>

                <div class="price">
                    <span>
                        {{food.price | currency}}
                    </span>
                </div>
        </div>
      </a>

    </li>
  </ul>