h1{
    color: var(--text-color);
    transition: color 0.5s ease;
    color: #212529;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1.5rem 0;
    text-align: center;
    animation: fadeIn 0.6s ease;
}