/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

html,
button{
    font-family: "Crimson-Pro", "sans-serif";
}

body{
    margin:0;
    background-image: url('/assets/cuisine.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

a{
    text-decoration: none;
}