header{
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    padding: 0;
    border-bottom: 1px solid rgb(35, 110, 153);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a{
    color:rgb(35, 110, 153);
}

a:hover{
    background: rgb(61, 148, 199);
    color: white;
    cursor: pointer;
}

.container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1rem;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

a span{
    background:rgb(35, 110, 153);
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.menu-container{
    position: relative;

}

.menu{
    position:absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}

.menu-container:hover .menu{
    display: block;
}

.menu a{
    width:100%;
    min-width: 8rem;
}

.dark-mode-label {
    margin-top: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    color: inherit;
  }
  .dark-mode-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  
  .dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.3s;
  }
  
  .slider::before {
    margin-top: 15px;
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .dark-mode-switch input:checked + .slider {
    background-color: #4b6cb7;
  }
  
  .dark-mode-switch input:checked + .slider::before {
    transform: translateX(26px);
  }
  