<header>
    <div class="container">
        <a routerLink="/" class="logo"> Food Wave</a>
        <nav>
            <ul>
                <label class="dark-mode-label">
                    {{ isDarkMode ? 'Dark Mode ON' : 'Dark Mode OFF' }}
                    <span class="dark-mode-switch">
                    <input type="checkbox" [checked]="isDarkMode" (change)="darkModeToggle.emit()" />
                    <span class="slider"></span>
                  </span>
                  </label>
              
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
              
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
              
                <li>
                    <a routerLink="/cart-page">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
