<div class="container">
    <div class="details">
      <div class="tabs">
        <a routerLink="/login" class="tab">Sign In</a>
        <a routerLink="/register" class="tab active">Create an Account</a>
      </div>

      <div class="content">
        <h1 class="page-title">Create an Account</h1>
        <p class="welcome-message">Join us today and start your food journey!</p>

      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Name">
      `</text-input>
  
      <text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      label="Email"
      type="email">
    `</text-input>
  
  
    <text-input
    [control]="fc.password"
    [showErrorsWhen]="isSubmitted"
    label="Password"
    type="password">
  `</text-input>
  
  <text-input
  [control]="fc.confirmPassword"
  [showErrorsWhen]="isSubmitted"
  label="Confirm Password"
  type="password">
  `</text-input>
  
  <text-input
  [control]="fc.address"
  [showErrorsWhen]="isSubmitted"
  label="Address">
  `</text-input>
  
  
          <button type="submit" class="primary-button">Create Account</button>
  
  <div class="login">
    Already a user? &nbsp;
    <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
              Sign In Here
    </a>
  </div>
      </form>
      </div>
    </div>
  </div>