/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

html,
button{
    font-family: "Crimson-Pro", "sans-serif";
}

body{
    margin:0;
    background-image: url('/assets/cuisine.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

body.dark-mode {
  background-color: #121212;
  background-image: none;
  color: rgba(61, 148, 252, 100);
}

body.dark-mode a {
  color: rgba(61, 148, 252,100);
}

body.dark-mode img {
  filter: brightness(0.8);
}

body.dark-mode ul:not(nav ul) {
  background-color: #281e1e;
}

body.dark-mode button {
  background-color: #333;
  color: rgba(61, 148, 252, 100);
}
 